* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.layout-container {
    width: 75%;
    margin: 0 auto;
}

header {
    background-color: #1A0B2E;
}

#navbar {
    background-color: #1A0B2E;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navicon {
    display: none;
}

.navname h2 {
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 700;
}
#Wave {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #FFFFFF;
    list-style: 120%;
    font-weight: 700;
}

.navbtn button {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(360deg, #ffb347, #FB09B4, #9100F8);
    color: white;
    cursor: pointer;
    font-weight: 700;
    transition: 1s;
}

.navbtn button:hover {
    background-image: linear-gradient(to bottom, red, yellow);
    color: #1A0B2E;

}
.hero {
    background-image: url(/assets/hero-bg.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    
    
}

.hero-circle img:not(#micro){
    width: 18rem;
    position: absolute;
    top: 10%;
    left: 50.5%;
    transform: translateX(-50%);
    z-index: 1;

}

#micro {
    width: auto;
    height: 10rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

@keyframes my-animation {
    0% {
        background-color: #FB09B4;
        width: 110px;
    }

    25% {
        background-color: #F7E93F;
        width: 100px;
    }

    50% {
        background-color: #1A0B2E;
        color: #FFFFFF;
        width: 100px;

    }

    75% {
        background-color: beige;
        color: black;
        width: 110px;
    }

    100% {
        background-color: #00FF88;
        color: #F7E93F;
        width: 100px;


    }
}

#new-btn {
    z-index: 3;
    position: absolute;
    background-color: #00FF88;
    color: #1A0B2E;
    font-weight: 700;
    font-size: 18px;
    padding: 6px 25px;
    border-radius: 25px;
    border: none;
    top: 12%;
    left: 55%;
    transform: translate(-50%);
    animation: my-animation 2s infinite 0.5s ease-in alternate;

}

.hero-content {
    text-align: center;
    margin-top: 32rem;
    padding-bottom: 50px;

}

.hero-content h1 {
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 12px;

}

.hero-content p {
    color: #FFFFFF;
    margin-bottom: 15px;
}

.btn-1 {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    color: #FFFFFF;
    background: linear-gradient(360deg, #ffb347, #FB09B4, #9100F8);
    background-color: #230E3D;
    cursor: pointer;
    font-weight: 700;
    transition: 1s;
}

.btn-1:hover {
    background-image: linear-gradient(to bottom, red, yellow);
    color: #1A0B2E;

}

.btn-2 {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0);
    color: #00FF88;
    cursor: pointer;
    font-weight: 700;
    margin-left: 10px;
    border: 1px solid #00FF88;
    transition: 1s;
}

.btn-2:hover {
    background-color: #FFFFFF;
    color: #1A0B2E;
}



.about {
    background-color: #230E3D;
    padding-top: 50px;
    padding-bottom: 80px;
}

.about-heading h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 48PX;
    font-weight: bold;
    padding: 20PX 0;
}

.about-heading p {
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
}
