* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.layout-container {
    width: 75%;
    margin: 0 auto;
}

header {
    background-color: #1A0B2E;
}

#navbar {
    background-color: #1A0B2E;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navicon {
    display: none;
}

.navname h2 {
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 700;
}
#Wave {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #FFFFFF;
    list-style: 120%;
    font-weight: 700;
}

.navbtn button {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(360deg, #ffb347, #FB09B4, #9100F8);
    color: white;
    cursor: pointer;
    font-weight: 700;
    transition: 1s;
}

.navbtn button:hover {
    background-image: linear-gradient(to bottom, red, yellow);
    color: #1A0B2E;

}
.hero {
    background-image: url(/assets/hero-bg.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    
    
}

.hero-circle img:not(#micro){
    width: 18rem;
    position: absolute;
    top: 10%;
    left: 50.5%;
    transform: translateX(-50%);
    z-index: 1;

}

#micro {
    width: auto;
    height: 10rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

@keyframes my-animation {
    0% {
        background-color: #FB09B4;
        width: 110px;
    }

    25% {
        background-color: #F7E93F;
        width: 100px;
    }

    50% {
        background-color: #1A0B2E;
        color: #FFFFFF;
        width: 100px;

    }

    75% {
        background-color: beige;
        color: black;
        width: 110px;
    }

    100% {
        background-color: #00FF88;
        color: #F7E93F;
        width: 100px;


    }
}

#new-btn {
    z-index: 3;
    position: absolute;
    background-color: #00FF88;
    color: #1A0B2E;
    font-weight: 700;
    font-size: 18px;
    padding: 6px 25px;
    border-radius: 25px;
    border: none;
    top: 12%;
    left: 55%;
    transform: translate(-50%);
    animation: my-animation 2s infinite 0.5s ease-in alternate;

}

.hero-content {
    text-align: center;
    margin-top: 32rem;
    padding-bottom: 50px;

}

.hero-content h1 {
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 12px;

}

.hero-content p {
    color: #FFFFFF;
    margin-bottom: 15px;
}

.btn-1 {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    color: #FFFFFF;
    background: linear-gradient(360deg, #ffb347, #FB09B4, #9100F8);
    background-color: #230E3D;
    cursor: pointer;
    font-weight: 700;
    transition: 1s;
}

.btn-1:hover {
    background-image: linear-gradient(to bottom, red, yellow);
    color: #1A0B2E;

}

.btn-2 {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0);
    color: #00FF88;
    cursor: pointer;
    font-weight: 700;
    margin-left: 10px;
    border: 1px solid #00FF88;
    transition: 1s;
}

.btn-2:hover {
    background-color: #FFFFFF;
    color: #1A0B2E;
}



.about {
    background-color: #230E3D;
    padding-top: 50px;
    padding-bottom: 80px;
}

.about-heading h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 48PX;
    font-weight: bold;
    padding: 20PX 0;
}

.about-heading p {
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
}

.episode {
    background-color: #230E3D;
    padding: 30px 0;

}

.episode-card h2 {
    color: #00FF88;
    font-size: 48px;
}

.episode-card h2 i {
    color: #00FF88;
    font-size: 25px;
    padding-bottom: 20px;
}


.episode-card i {
    color: #00FF88;
    font-size: 25px;
}

.episode-card p {
    color: #FFFFFF;
    line-height: 20px;
    padding: 20px 0;
}

#episode-para {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding-left: 50px;

}




.choose {
    background-color: #230E3D;
    padding: 40px 0;
    
}
.choose h2 {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    padding: 40px 0;
}

#choose-para {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-1 {
    grid-column: span 1;
    grid-row: span 2;
}

.card-2 {
    grid-column: span 2;
    grid-row: span 1;
}

.card-3 {
    grid-row: span 1;
    grid-column: span 2;
}

#box {
    background-color: #351165;
    padding: 20px;
    border-radius: 20px;
}

#box * {
    margin-bottom: 15px;
}

#box h4 {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
}

#box p {
    color: #FFFFFF;
    line-height: 24px;
    font-size: 16px;
}


.feature-episode {
    background-color: #1A0B2E;
    padding: 100px 0;
    
}

.feature-episodeheading h1 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding: 30px 0;
}

.feature-episode-para {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
  
    
}

.feature-episode-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature-episode-card {
    width: 300px;
    height: 450px;
    border-radius: 20px;
    background-color: #351165;
   
    
}

.feature-content {
    padding: 15px;
}

.feature-content h2 {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

.feature-content p {
    color: #FFFFFF;
    line-height: 24px;
}

.feature-content * {
    margin-bottom: 15px;
}


.meet {
    background-color: #1A0B2E;
    padding: 20px 0;
    padding-bottom: 80px;
}

.meet-heading h1 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

.meet-para {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.meet-content h2 {
color: #FFFFFF;
font-weight: bold;
font-size: 32;


}

.meet-content p {
color: #FFFFFF;
line-height: 24px;

}

.meet-content * {
margin-bottom: 15px;

}

.meet-icon i {
background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
background-clip: text;
color: transparent;
font-size: 20px;
width: 40px;
border-radius: 50%;
height: 40px;
margin-left: 10px;
padding-top: 10px;
border: 1px solid white;
}


.meet-icon {
gap: 20px;
}

#meet-host {
background-color: #351165;
border-radius: 20px;
padding: 50px 0;
}

footer {
background-image: url(./assets/footer-bg.png);
width: 100%;
height: 26.23rem;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
